@import url(http://fonts.googleapis.com/css?family=Roboto|Lato);

#repo-content #source-container > section {
    background: #EEE;
    border-radius: 3px;
    margin-top: 20px;
    padding: 5px;
}

#repo-content #source-container > section > article {
    background-color: #fff;
    border: 1px solid #CACACA;
    padding: 10px 20px;
}

#repo-content #source-container > section > article h1:first-child {
    background-color: #eaeaea;
    background-image: linear-gradient(#fafafa, #eaeaea);
    background-repeat: repeat-x;
    border-bottom: 1px solid #ccc;
    color: #555;
    line-height: 32px;
    margin: -10px;
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 5px;
    padding-left: 20px;
    text-shadow: 0 1px 0 #fff;
}

#source-list td a {
    color: rgb(65, 131, 196);
}

#source-list td.dirname {
    font-weight: normal;
}

#source-list th {
    background: #e6f1f6;
    border-bottom: 1px solid #dfdfdf;
    color: #666;
    display: table-cell;
    font-size: 13px;
    white-space: nowrap;
}

#source-list thead tr:first-child th:first-child, #source-list tbody tr:first-child td:first-child {
    border-top-left-radius: 3px;
}

#source-list thead tr:first-child th:last-child, #source-list tbody tr:first-child td:last-child {
    border-top-right-radius: 3px;
}

.aui-iconfont-devtools-folder-closed:before {
    color: #80a6cd;
}

table.bb-list {
    border: 1px solid #ccc;
    border-collapse: separate;
    border-radius: 4px;
    border-spacing: 0;
}

table.bb-list > tbody > tr {
    background-color: #F9F9F9;
}

table.bb-list > tbody > tr > td {
    color: #484848;
    font-size: 13px;
}

table.bb-list > tbody > tr > td:first-child {
    border-left: none;
}

table.bb-list > tbody > tr:hover, table.bb-list > tbody > tr.focused {
    background-color: #F4F4F4;
}

a.repo-link {
    font-family: Lato;
}

div.description p {
    font-family: Roboto;
}

div.stat {
    font-family: Roboto;
}
